body,html { margin:0;padding:0;font-family:Tahoma; font-size:13px;color:#333;}
body { width:960px; margin:0px auto; }
pre { margin:0;padding:0;}
#wrapper { margin-left:10px; text-align:left; }
#uglyselect { margin-left:15px; }
#opt_span { padding-left:10px; font-style:italic; }

a.sample { font-size:0.8em; text-decoration:none; }