<h1 class="dialog_header">New Timesheet</h1>

<%=render :partial=>"form"%>

<hr/>

<%#= button_to 'Cancel', timesheets_path, :method=>:get, :class=>"button inline-left" %>
<%#=render :partial=>"common/button", :locals=>{:title=>"Cancel", :link=>timesheets_path}%>
<%=render :partial=>"common/close_button"%>