<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<button style="margin:4px;"
        class="inline-left remote_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
        onclick="<%=remote_function%>"><%=label%></button>

